@using ArduinoService.Resource
@{
    Layout = "~/Views/Shared/Layout_Agri_Pro.cshtml";
}

	<div class="agileits_header">
		<div class="w3l_offers">
			<a>Rau sạch cho bạn</a>
		</div>

		<div class="clearfix"> </div>
	</div>
<!-- script-for sticky-nav -->
	<script>
	    $(document).ready(function () {
	        var navoffeset = $(".agileits_header").offset().top;
	        $(window).scroll(function () {
	            var scrollpos = $(window).scrollTop();
	            if (scrollpos >= navoffeset) {
	                $(".agileits_header").addClass("fixed");
	            } else {
	                $(".agileits_header").removeClass("fixed");
	            }
	        });

	    });
	</script>
<!-- //script-for sticky-nav -->
	<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left">
				<h1><a href="index.html"><span>Vì sức khỏe người Việt</span><p>vietnongsan.com</p></a></h1>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>(+0972) 281182</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:sales@vietnongsan.com">sales@vietnongsan.com</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- banner -->
	<div class="banner">
		<div class="w3l_banner_nav_left">
			<nav class="navbar nav_bottom">
			 <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header nav_2">
				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
			   </div> 
			   <!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav nav_1">
                        <li>@Html.ActionLink("Trang chủ", "Welcome", "Home")</li>
						<li>@Html.ActionLink("Rau củ quả sạch", "Vegetable_Agri_Pro", "Home")</li>
						<li>@Html.ActionLink("Sản phẩm Macca", "Macca_Agri_Pro", "Home")</li>
						<li>@Html.ActionLink("Bột màu thực phẩm", "Material3D_Agri_Pro", "Home")</li>
						<li>@Html.ActionLink("Sản phẩm gia cầm", "Chicken_Agri_Pro", "Home")</li>
						<li>@Html.ActionLink("Dụng cụ làm bánh", "Tool3D_Agri_Pro", "Home")</li>
                        <li>@Html.ActionLink("Khu vườn thông minh", "Welcome_IOT", "Home")</li>
					</ul>
				 </div><!-- /.navbar-collapse -->
			</nav>
		</div>
		<div class="w3l_banner_nav_right">
			<div class="w3l_banner_nav_right_banner6">
				<h3>Sản phẩm tự nhiên không sử dụng hóa chất<!--span class="blink_me"></span--></h3>
			</div>
			<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
				<h3 class="w3l_fruit">Bột màu thực phẩm</h3>
				<div class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">
					<div class="col-md-3 w3ls_w3l_banner_left w3ls_w3l_banner_left_asdfdfd">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a><img src="/Content/Images_Agri_Pro/thanh_long.jpg" alt=" " class="img-responsive" /></a>
											<p>Bột màu thanh long (25 gr)</p>
											<h4>50.000 vnđ</h4>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
					<div class="col-md-3 w3ls_w3l_banner_left w3ls_w3l_banner_left_asd">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a><img src="/Content/Images_Agri_Pro/hat_danh_danh.jpg" alt=" " class="img-responsive" /></a>
											<p>bột màu dành dành (25 gr)</p>
											<h4>50.000 vnđ</h4>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
					<div class="col-md-3 w3ls_w3l_banner_left">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a><img src="/Content/Images_Agri_Pro/dau_tam.jpg" alt=" " class="img-responsive" /></a>
											<p>bột màu dâu tằm (25 gr)</p>
											<h4>50.000 vnđ</h4>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
                    <div class="col-md-3 w3ls_w3l_banner_left">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a><img src="/Content/Images_Agri_Pro/la_cam_tim.jpg" alt=" " class="img-responsive" /></a>
											<p>bột màu lá cẩm tím (25 gr)</p>
											<h4>50.000 vnđ</h4>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">
					<div class="col-md-3 w3ls_w3l_banner_left w3ls_w3l_banner_left_asdfdfd">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a><img src="/Content/Images_Agri_Pro/tra_xanh.jpg" alt=" " class="img-responsive" /></a>
											<p>bột màu trà xanh (25 gr)</p>
											<h4>50.000 vnđ</h4>
										</div>										
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>               
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->
<!-- Bootstrap Core JavaScript -->
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
	    $(document).ready(function () {
	        $().UItoTop({ easingType: 'easeOutQuart' });
	    });
	</script>
<!-- //here ends scrolling icon -->

