@using ArduinoService.Resource

@{
    ViewBag.Title = "Control Systems ioT";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

<style>
    .x_title h2 {
        width: 150px;
    }

    #prefix-addtext-device2, #prefix-addtext-device {
        min-width: 125px;
    }

    #ModaldetailTracking .modal-dialog {
        width: 300px;
    }

    #ModaldetailTracking .modal-body {
        padding-bottom: 0px;
    }
</style>

<div class="col-sm-12">
    <section class="content-header">
        <ol class="breadcrumb"></ol>
    </section>
</div>

<div id="filter" class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-1">
                <label>Tìm kiếm</label>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="filterDate" data-date-format="DD/MM/YYYY" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
            </div>
            <div class="col-sm-2">
                <input type="button" class="btn btn-success" id="btnToday" value="Hôm Nay" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="table-responsive details"></div>
    <div class="messageError"></div>
</div>

@if (ViewBag.FullControl == false)
{
    <div id="add-tracking" class="icon-add">
        <span class="fa fa-plus"></span>
    </div>
}

<div class="modal fade" id="ModaTracking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Thêm thiết bị</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="group-sensor" class="col-xs-2 col-form-label">Nhóm </label>
                    <div class="col-xs-3">
                        <select class="form-control" id="group-sensor">
                            @{
                                if (@ViewBag.lstUnit != null)
                                {
                                    if (@ViewBag.lstUnit.Count > 0)
                                    {
                                        foreach (var item in ViewBag.lstUnit)
                                        {
                                            <option value="@item.ID">@item.NAME</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="addtext-device" class="col-xs-2 col-form-label">Tên thiết bị</label>
                    <div class="col-xs-10 row">
                        <div class="col-sm-12 row">
                            <div class="col-sm-8 row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="prefix-addtext-device" value="[Nhiệt độ]" disabled>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="addtext-device" maxlength="100">
                                </div>
                            </div>
                            <select class="col-xs-2 form-control cbocontroltracking" style="padding-left:0px;" id="selectcontrol1"></select>
                            <select class="col-xs-2 form-control cbocontroltracking" style="padding-left:0px;" id="cbopin"></select>
                        </div>
                        <div class="col-sm-12 row" id="group-sensor2">
                            <div class="col-sm-8 row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="prefix-addtext-device2" value="[Độ ẩm không khí]" disabled>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="addtext-device2" maxlength="100">
                                </div>
                            </div>
                            <select class="col-xs-2 form-control cbocontroltracking" style="padding-left:0px;" id="selectcontrol2"></select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-ban"></span>Close</button>
                <button type="button" id="btn-addtracking" class="btn btn-primary"><span class="fa fa-check"></span>OK</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModaldetailTracking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Chức năng</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" class="list-group-item" id="edittracking">
                        <p class="list-group-item-text">
                            <span class="fa fa-save"></span> Chỉnh sửa
                        </p>
                    </a>
                    <a href="#" class="list-group-item" id="deltracking">
                        <p class="list-group-item-text">
                            <span class="fa fa-trash"></span> Xóa
                        </p>
                    </a>
                </div>
                <input type="text" id="id_device" hidden />
            </div>
        </div>
    </div>
</div>

@section scripts {
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/View/Tracking.js"></script>

    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {

            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.TrackingData;
            // Create a function that the hub can call back to display messages.
            chat.client.SendClient = function (data) {
                //var object = JSON.parse(data);
                GetDeciveDetails(1, '');
                // Update list data by ajax
                //UpdateTracking(object);
            };
        });

        $.connection.hub.start().done(function () {
        });
    </script>
}

